@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input {
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.03);
  outline: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
}

* :focus-visible, :focus {
  outline: none;
}

* :focus {
  box-shadow: 0px 0px 4px inset rgba(0, 0, 0, 0.2);
}